.Full {
    display: flex;
    flex-direction: column;
    margin-left: -950px;
    margin-top: -30px;
}

.list_container {
    width: 70%;
    margin-bottom: -40px;
    margin-left: 530px;
    margin-top: -180px;
}

.horizontal_list {
    display: flex;
    gap: 45px;
}

.horizontal_list li {
    list-style-type: none;
}

.inputBox_container {
    padding: 80px;
    margin-left: 500px;
    display: flex;
    gap: 20px;
}

.searchButton {
    width: 65px;
    margin-left: 730px;
    margin-top: -65px;
}