.list_container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.horizontal_list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.horizontal_list li {
    margin-right: 20px;
}

.inputBox_container {
    display: flex;
    gap: 20px;
}

.searchBox {
    width: 200px;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}